
@media screen and (min-width: 480px) {
    .container {
        width: 100%;
    }

    .mobile-menu-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        margin: 0 auto 72px auto;
        font-size: 36px;
        line-height: calc(40 / 36);
        letter-spacing: 0.02em;
    }

    /* advantages section */

    .advantages-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .advantages-list .advantages-title {
        margin-bottom: 8px;
    }

    /* our team section */

    /* customers-section */

    /* footer */
}

@media screen and (min-width: 428px) {
    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet/hero-tablet.jpg');
    }
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url('../images/tablet/hero-tablet-2x.jpg');
            }
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            .hero-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url('../images/tablet/hero-tablet-3x.jpg');
            }
        }
    }