
@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }

    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        margin: 0 auto 72px auto;
        font-size: 36px;
        line-height: calc(40 / 36);
        letter-spacing: 0.02em;
    }

    /* advantages section */

    .advantages-section {
        width: 428px;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .advantages-list .advantages-title {
        margin-bottom: 8px;
    }

}