/* root */
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-black-color: #2E2F42;
    --primary-white-color: #fff;
    --secondary-white-color: #F4F4FD;
    --secondary-black-color: #434455;
    --grey-on-footer-color: #E7E9FC;
    --primary-blue-color: #4D5AE5;
    --secondary-blue-color: #404BBF;
    --grey-icon-color: #8E8F99;
    --modal-window-color: #FCFCFC;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* general styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
section,
p {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    color: var(--primary-black-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
}

.container {
    /* width: 1158px; */
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.button {
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

/* header */
.header {
    border-bottom: 1px solid var(--grey-on-footer-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-nav {
    display: flex;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-black-color);
}

.header-logo-span, .footer-logo-span {
    color: var(--primary-blue-color);
}

.flex-content {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 76px;
}


.nav-list .link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    transition: color var(--duration) var(--timing-function), transform var(--duration) var(--timing-function);; 
}

.nav-list .active::after, .nav-list .link::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    border: 1px solid var(--secondary-blue-color);
    background-color: var(--secondary-blue-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.nav-list .link:not(.active)::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity var(--duration) var(--timing-function), transform var(--duration) var(--timing-function);
}

.nav-list .item:not(:last-child) {
    margin-right: 40px;
}

.nav-list .link:is(:hover, :focus) {
    color: var(--secondary-blue-color);
}

.nav-list .link:hover::after,
.nav-list .link:focus::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    border: 1px solid var(--secondary-blue-color);
    background-color: var(--secondary-blue-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    opacity: 1;
    transform: scaleX(1);
}

.nav-list .active {
    color: var(--secondary-blue-color);
}

.contact-list .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--secondary-black-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--duration) var(--timing-function);
}

.contact-list .link:is(:hover, :focus){
    color: var(--secondary-blue-color);
}

.contact-list {
    display: flex;
    align-items: center;
}

.address-list {
    margin-left: auto;
}

.contact-list .item+.item {
    margin-left: 40px;
}

/* hero */
.hero-section {
    background-color: var(--primary-black-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: var(--primary-black-color);
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
    margin: 0 auto 48px auto;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    max-width: 500px;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    visibility: visible;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    min-width: 408px;
    min-height: 576px;
    background: var(--modal-window-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--timing-function);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    background: var(--grey-on-footer-color);
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.icon-close {
    fill: currentColor;
}

.modal-close-button:is(:hover, :focus) {
    background-color: var(--secondary-blue-color);
    color: var(--primary-white-color);
}

.modal-title {
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
}

.form-field {
    position: relative;
    margin-bottom: 8px;
}

.text-input-form {
    margin-bottom: 16px;
}

.form-field label {
    display: block;
    margin-bottom: 4px;
    color: var(--grey-icon-color);
}

.form-field label:not(:last-child) {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form-field input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timing-function);
}

.input-form {
    position: relative;
}

.form-field svg {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 16px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill var(--duration) var(--timing-function);
}

.form-field input:is(:focus, :active), .comment-area:is(:focus, :active) {
    outline: none;
    border-color: var(--primary-blue-color);
}

.form-field input:is(:focus, :active) + svg {
    fill: var(--primary-blue-color);
}

.comment-area {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timing-function);
}

.comment-area::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
}

.modal-form-check-desc::before {
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1.25px solid var(--primary-black-color);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color var(--duration) var(--timing-function);
}

.modal-form-check:checked+.modal-form-check-desc::before {
    color: var(--primary-white-color);
    background-color: var(--secondary-blue-color);
    background-image: url('../images/ok.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}

.modal-policy-link {
    color: var(--primary-blue-color);
    text-decoration: underline;
}

.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 1px solid rgb(0, 95, 204);
}

.modal-form-submit {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--secondary-blue-color);
}

/* button in index and portfolio */
.hero-button {
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--primary-blue-color);
    border: 1px solid transparent;
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--secondary-white-color);
    color: var(--primary-blue-color);
    border: 1px solid var(--grey-on-footer-color);
    border-radius: 4px;
 }

.button {
    transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
    border-radius: 4px;
    border: 1px solid transparent;
}

.button:is(:hover, :focus) {
    background-color: var(--secondary-blue-color);
    color: var(--primary-white-color);
    border: 1px solid transparent;
}

/* titles */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.advantages-title, .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}

/* paragraphs */
.description-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
}



/*==========================portfolio page============================================ */
.projects-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.filter-button {
    padding: 12px 24px;
    transition: box-shadow var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.filter-button:is(:hover, :focus) {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list .item:not(:first-child) {
    margin-left: 24px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -48px;
}
.projects-list > .item {
    display: flex;
    flex-basis: calc(100% / 3 - 24px);
    margin-left: 24px;
    margin-top: 48px;
}

.project-link {
    display: block;
    transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-descr {
    padding: 32px 16px 32px 16px;
    border: 1px solid var(--grey-on-footer-color);
    border-top: none;
}

.card-title {
    margin-bottom: 8px;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--primary-blue-color);
    color: var(--secondary-white-color);
    transition: transform var(--duration) var(--timing-function);
}

.portfolio-overlay .overlay-text {
    color: var(--secondary-white-color);
}

.project-link:is(:hover, :focus) .portfolio-overlay{
    transform: translateY(-100%);
}

/*==========================portfolio page============================================ */

/* advantages section */
.advantages-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list {
    display: flex;
    column-gap: 24px;
}
.advantages-list .item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-list .advantages-title {
    margin-bottom: 8px;
}

.advantages-icon-thumb {
    display: flex;
    background-color: var(--secondary-white-color);
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
}

/* what are we doing section */
.doing-section {
    padding-bottom: 120px;
}
.doing-title {
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    column-gap: 24px;
}

.doing-list .item {
    flex-basis: calc((100% - 48px) / 2);
}

/* our team section */
.team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--secondary-white-color);
}

.team-section .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    column-gap: 24px;
}

.team-list .item {
    flex-basis: calc((100% - 72px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-descr {
    padding: 32px 16px 32px 16px;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.social-media-list {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.social-media-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-blue-color);
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration) var(--timing-function);
}

.social-media-link:hover, .social-media-link:focus {
    background-color: var(--secondary-blue-color);
}

.social-media-icon {
    fill: currentColor;
}

/* customers-section */
.customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    margin-top: 72px;
    justify-content: center;
    column-gap: 24px;
}

.customers-list-item {
    width: 168px;
    height: 88px;
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--grey-icon-color);
    border: 1px solid var(--grey-icon-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:is(:hover, :focus) {
    color: var(--secondary-blue-color);
    border-color: var(--secondary-blue-color);
}

/* footer */
.footer-container {
    align-items: baseline;
}

.footer-logo {
    color: var(--secondary-white-color);
}

.footer-description {
    color: var(--secondary-white-color);
    margin-top: 16px;
    max-width: 264px;
}

.footer-section {
    background-color: var(--primary-black-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-social-media-div {
    margin-left: 120px;
}

.footer-social-media-descr {
    font-family: var(--primary-font);
    color: var(--primary-white-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.footer-social-media-list {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}

.footer-social-media-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-media-link {
    color: var(--secondary-white-color);
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration) var(--timing-function);
}

.footer-social-media-icon {
    fill: currentColor;
}

.footer-social-media-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-form {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 24px;
}

.footer-form .form-field {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 0;
}

.footer-form p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.footer-form input[type='email'] {
    background-color: var(--primary-black-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 264px;
    min-height: 40px;
    transition: background-color var(--duration) var(--timing-function);
    padding-left: 16px;
}

.footer-form input[type='email']:is(:focus) {
    background-color: var(--primary-white-color);
    border: 1px solid var(--primary-blue-color);
}

.footer-form button[type='submit'] {
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    justify-content: space-between;
    width: 165px;
    height: 40px;
    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    align-items: center;
    transition: background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.footer-form button[type='submit']:is(:hover, :focus) {
    background-color: var(--secondary-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form button[type='submit'] svg {
    fill: currentColor;
}

.footer-form input::placeholder {
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
}
