/* root */
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-black-color: #2E2F42;
    --primary-white-color: #fff;
    --secondary-white-color: #F4F4FD;
    --secondary-black-color: #434455;
    --grey-on-footer-color: #E7E9FC;
    --primary-blue-color: #4D5AE5;
    --secondary-blue-color: #404BBF;
    --grey-icon-color: #8E8F99;
    --modal-window-color: #FCFCFC;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* general styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
section,
p {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    color: var(--primary-black-color);
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.button {
    border: none;
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
    border-radius: 4px;
    border: 1px solid transparent;
}

.flex {
    display: flex;
}

/* titles */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.advantages-title, .card-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    text-align: center;
}

/* paragraphs */
.description-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
}

/* hero */
.hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-black-color);
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: var(--primary-black-color);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
    max-width: 320px;
    margin: 0 auto 48px auto;
    color: var(--primary-white-color);
    text-transform: capitalize;
    text-align: center;
}

.hero-button {
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--primary-blue-color);
}

/* advantages section */
.advantages-section {
    width: 428px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.advantages-list .item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-list .advantages-title {
    margin-bottom: 8px;
}

.advantages-icon-thumb {
    display: none;
}