
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }

    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        margin: 0 auto 40px auto;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .advantages-title {
        text-align: left;
    }

    /* advantages section */
    .advantages-section {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        /* align-items: center; */
        justify-content: center;
    }

    .advantages-list .item {
        flex-basis: calc((100% - 24px) / 2);
    }
    
    .advantages-list .advantages-title {
        margin-bottom: 8px;
    }

    /* our team section */

    .team-section {
        padding-bottom: 104px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        text-align: center;
    }

    /* customers-section */

    .customers-list {
        column-gap: 24px;
    }

    /* footer */
}