
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

    /*--------------------- header--------------------- */
        .site-nav {
            display: flex;
        }
    
        .flex-content {
            display: flex;
            align-items: center;
        }
    
        .site-nav {
            display: flex;
            align-items: center;
        }
    
        .nav-list {
            display: flex;
            margin-left: 120px;
        }
    
    
        .nav-list .link {
            position: relative;
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-black-color);
            transition: color var(--duration) var(--timing-function), transform var(--duration) var(--timing-function);
        }
    
        .nav-list .active::after,
        .nav-list .link::after {
            position: absolute;
            content: '';
            bottom: -1px;
            left: 0;
            border: 1px solid var(--secondary-blue-color);
            background-color: var(--secondary-blue-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;
        }
    
        .nav-list .link:not(.active)::after {
            opacity: 0;
            transform: scaleX(0);
            transition: opacity var(--duration) var(--timing-function), transform var(--duration) var(--timing-function);
        }
    
        .nav-list .item:not(:last-child) {
            margin-right: 40px;
        }
    
        .nav-list .link:is(:hover, :focus) {
            color: var(--secondary-blue-color);
        }
    
        .nav-list .link:hover::after,
        .nav-list .link:focus::after {
            position: absolute;
            content: '';
            bottom: -1px;
            left: 0;
            border: 1px solid var(--secondary-blue-color);
            background-color: var(--secondary-blue-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;
            opacity: 1;
            transform: scaleX(1);
        }
    
        .nav-list .active {
            color: var(--secondary-blue-color);
        }
    
        .contact-list .link {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.04em;
            font-style: normal;
            color: var(--secondary-black-color);
            transition: color var(--duration) var(--timing-function);
        }
    
        .contact-list .link:is(:hover, :focus) {
            color: var(--secondary-blue-color);
        }
    
        .contact-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .address-list {
            margin-left: auto;
        }
    
    /*--------------------- header----------------------- */


    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desktop/hero-desktop.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/desktop/hero-desktop-2x.jpg');
        }
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/desktop/hero-desktop-3x.jpg');
        }
    }

    .hero-title {
        margin: 0 auto 40px auto;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .advantages-title {
        text-align: left;
    }

    /* modal */
    .modal {
        padding: 72px 24px 24px 24px;
    }

    /* advantages section */
    .advantages-section {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        /* align-items: center; */
        justify-content: center;
    }

    .advantages-list .item {
        flex-basis: calc((100% - 24px) / 2);
    }
    
    .advantages-list .advantages-title {
        margin-bottom: 8px;
    }

    /* our team section */

    .team-section .container, .customers-section .container, .footer-container {
        width: 582px;
    }

    .team-section {
        padding-bottom: 104px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        text-align: center;
    }

    /* customers-section */

    .customers-list {
        column-gap: 24px;
    }

    .customers-list-item {
        width: 168px;
    }

    /* footer */

    .footer-section {
        /* padding-left: 96px; */
    }

    .footer-left-column {
        align-items: flex-start;
    }

    .footer-container {
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-social-media-div {
        margin: 0 0 0 24px;
    }

    .footer-social-media-descr {
        text-align: left;
        margin-top: 0;
    }

    .footer-form {
        flex-direction: row;
        align-items: end;
        row-gap: 16px;
        margin: 72px 0 0 0;
        width: auto;
    }

    .footer-form .form-field {
        margin-bottom: 0;
        width: auto;
    }

    .footer-form p {
        text-align: left;
    }

    .footer-form input[type='email'] {
        width: 264px;
    }

    .footer-form button[type='submit'] {
        margin-left: 24px;
    }
}